.forgot-pass-layout__form {
    width: 528px;
    max-height: 100%;
    border-radius: 16px;
    background-color: var(--white);
    padding: 0;
}

.forgot-pass-layout__form.server-response {
    display: none;
}

.forgot-pass__auth {
    display: flex;
    align-items: center;
    height: 64px;
    background-color: var(--grey5);
    border-radius: 16px 16px 0 0;
}

.forgot-pass__auth a {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    letter-spacing: 0.2px;
    color: var(--grey70);
    margin: auto auto auto 19px;
}

.forgot-pass__auth img {
    display: inline;
    margin-right: 15px;
}

.forgot-pass__form {
    padding: 0px 56px 48px;
}

.forgot-pass__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.1px;
    margin: 32px 0;
}

.forgot-pass__input {
    width: 416px;
    height: 56px;
    background: var(--grey5);
    border-radius: 4px 4px 0 0;
    border-style: none;
    border-bottom: 1px solid var(--grey20);
    outline: none;
    padding: 26px 12px 0;
}

.forgot-pass__input-error {
    width: 416px;
    height: 56px;
    background: var(--grey5);
    border-radius: 4px 4px 0 0;
    border-style: none;
    border-bottom: 1px solid var(--negative);
    outline: none;
    padding: 26px 12px 0;
}

.forgot-pass__div-input {
    position: relative;
}

.reset-pass__div-input input:focus ~ .reset__button--show-password,
.reset-pass__div-input input:not(:invalid) ~ .reset__button--show-password {
    display: block;
}

.reset-pass-conf__div-input input:focus ~ .reset__button-conf-password,
.reset-pass-conf__div-input input:not(:invalid) ~ .reset__button-conf-password {
    display: block;
}

.reset__button--show-password {
    display: none;
    position: absolute;
    top: 70px;
    right: 5px;
    width: 40px;
    height: 40px;
    border: none;
    background: url('../../assets/images/eye-closed.svg') 50% 50% no-repeat;
    cursor: pointer;
}

.reset__button-conf-password {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    border: none;
    background: url('../../assets/images/eye-closed.svg') 50% 50% no-repeat;
    cursor: pointer;
}

.reset__button--show-password.show {
    background-image: url('../../assets/images/eye-opened.svg');
}

.reset__button-conf-password.show {
    background-image: url('../../assets/images/eye-opened.svg');
}

.forgot-pass__placeholder,
.forgot-pass__input-error:not(:focus):invalid ~ .forgot-pass__placeholder {
    position: absolute;
    pointer-events: none;
    top: 81px;
    left: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: var(--dark);
}

.forgot-pass__input-error ~ .forgot-pass__placeholder,
.forgot-pass__input:focus ~ .forgot-pass__placeholder,
.forgot-pass__input:not(:focus):valid ~ .forgot-pass__placeholder {
    position: absolute;
    top: 69px;
    left: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: var(--grey40);
}

.forgot-pass__hint {
    padding-top: 2px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: var(--grey70);
}

.forgot-pass__reset-hint {
    padding: 2px 0 0 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: var(--grey70);
}

.forgot-pass__button--submit {
    width: 416px;
    height: 52px;
    border-radius: 30px;
    border-style: none;
    margin: 34px 0 16px;
    background: linear-gradient(var(--btn-hover));
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--white);
    cursor: pointer;
    outline: none;
}

.forgot-pass__registration {
    display: flex;
    align-items: center;
}

.forgot-pass__registration span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: var(--grey70);
}

.forgot-pass__registration a {
    margin-left: 16px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: var(--dark);
}

.forgot-pass__registration img {
    display: inline;
    margin-left: 15px;
}

.forgot-pass__error {
    padding-left: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: var(--negative);
}

@media only screen and (max-width: 320px) {
    .forgot-pass-layout__form {
        width: 288px;
        max-height: 100%;
        border-radius: 16px;
        background-color: var(--white);
        padding: 0;
    }

    .forgot-pass__form {
        padding: 0px 16px 51px;
    }

    .forgot-pass__input {
        width: 256px;
    }

    .forgot-pass__placeholder,
    .forgot-pass__input-error:not(:focus):invalid ~ .forgot-pass__placeholder {
        position: absolute;
        pointer-events: none;
        top: 111px;
        left: 12px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.1px;
        color: var(--dark);
    }

    .forgot-pass__input-error ~ .forgot-pass__placeholder,
    .forgot-pass__input:focus ~ .forgot-pass__placeholder,
    .forgot-pass__input:not(:focus):valid ~ .forgot-pass__placeholder {
        position: absolute;
        top: 99px;
        left: 12px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.2px;
        color: var(--grey40);
    }

    .forgot-pass__input-error {
        width: 256px;
        height: 56px;
        background: var(--grey5);
        border-radius: 4px 4px 0 0;
        border-style: none;
        border-bottom: 1px solid var(--negative);
        outline: none;
        padding: 26px 12px 0;
    }

    .forgot-pass__button--submit {
        width: 256px;
        height: 40px;
        border-radius: 20px;
        border-style: none;
        margin: 34px 0 16px;
        background: linear-gradient(var(--btn-hover));
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.2px;
        color: var(--white);
        cursor: pointer;
        outline: none;
    }

    .forgot-pass__registration {
        display: block;
        align-items: center;
    }

    .forgot-pass__registration span {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: var(--grey70);
    }

    .forgot-pass__registration a {
        margin: 7px 0 0;
    }
}
