.form-warning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 528px;
    max-height: 100%;
    border-radius: 16px;
    background-color: var(--white);
    padding: 48px 56px;
}

.form-warning h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: var(--dark);
    margin-bottom: 32px;
}

.form-warning p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
}

.form-warning > .auth__button--submit {
    margin: 32px 0 0;
}

@media only screen and (max-width: 320px) {
    .form-warning {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 288px;
        max-height: 100%;
        border-radius: 16px;
        background-color: var(--white);
        padding: 32px 16px;
    }

    .form-warning h4 {
        font-size: 18px;
        line-height: 28px;
        color: var(--dark);
        margin: 10px auto 24px;
    }

    .form-warning p {
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.1px;
    }
}
